/* Heading CSS */
/* text CSS used for headings found here: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Text and here https://developer.mozilla.org/en-US/docs/Web/CSS/word-spacing */
/* added line to commit since program glitched? */
h1 {
  font-size: 35px;
  font-family:serif;
  font-style: normal;
  word-spacing: .3rem;
  text-align: center;
}

h2 {
  font-size:30px ;
  font-family:serif ;
  font-style:normal;
  word-spacing: .3rem;
}

h3 {
  font-size:25px ;
  font-family:serif ;
  font-style:normal ;
  word-spacing: .3rem;
}

ul {
  text-align: left;
}

p {
  text-align: left;
}


p, strong, em {
  font-size:16px ;
  font-family:arial ;
}

/*some basic css setting about body and .container*/
* {
  box-sizing: border-box;
}

body {
  width: auto;
  height: auto;
  margin:0px;
  padding:0px;
  font-family: sans-serif;
  background-color: #eee;
  transition: 0.5s;
}

body.night{
  background: #000000;
}

.container {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

/*common top navigation bar styles for all sizes of screens*/
.topbar_nav {
  width: 100%;
  height: auto;
  background: #98161a;
  position: fixed;
  z-index: 2;
}

.topbar_nav.toggle {
  width:100%;
  height:auto;
  padding: 10px 20px;
  background: #241644;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
}

/*large screens*/
@media (min-width:768px){
  .topbar_nav{
    display:flex;
    flex-direction: row;
    justify-content: center;
  }

  .topbar_nav ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  .topbar_nav ul li {
    list-style: none;
    display: flex;
    padding: 18px;
  }

  .topbar_nav ul li:hover {
    background: #163669;
  }

  .topbar_nav ul li a {
    color: #fff;
    text-decoration: none;
  }
}

/*small screens*/
@media (max-width:768px)
{
  .topbar_nav{
    display: none;
  }
  .topbar_nav .toggle
  {
    display: block;
  }
  .topbar_nav ul
  {
    width: 100%;
    display: none;
  }
  .topbar_nav ul li
  {
    display: block;
    text-align: center;
  }
  .topbar_nav .active
  {
    display:block;
  }
}

/*side nav bar styles*/
-nav * {
-  padding: 0;
-  margin: 0;
-  text-decoration: none;
-  list-style: none;
-  display:none;
-}

.sidebar_nav {
  height: auto;
  width: 20%;
  position: fixed;
  top: 10%;
}

.sidebar_nav h1 {
  border-bottom: 1px dotted white;
  color: white;
  background-image: linear-gradient(#00264D, black );
  text-align: center;
  margin: 0;
}

.sidebar_nav ul{
  padding: 0;
  margin: 0;
}
.sidebar_nav li {
  background-color: #98161A;
}

.sidebar_nav a {
  display: block;
  color: white;
  padding: 1% 5% 1% 5%;
  border-bottom: 1px dotted white;
  text-decoration: none;
  font-size: 1.25vw;
  text-align: center;
}

.sidebar_nav a:hover {
  background-image: linear-gradient(#DC494F, #B23C40);
}

.dropdown_mainSection ul, .dropdown_page ul, .dropdown_subSection ul, .dropdown_subPage ul{
  display: none;
}

.dropdown_mainSection li:hover > ul, .dropdown_page li:hover > ul, .dropdown_subSection li:hover > ul, .dropdown_subPage li:hover >  ul{
  display: block;
}

.dropdown_mainSection a {
  background-image: linear-gradient(#98161A, darkred);
}

.dropdown_page a {
  background-image: linear-gradient(#3F50DA , #00264D);
}

.dropdown_subSection a {
  background-image: linear-gradient( #313FAB, #062B21);
}

.dropdown_subPage a {
  background-image: linear-gradient(#232C77, #0C3D92);
}

@media(max-width:768px){
  .sidebar_nav{
    display:none;
  }
}

/*navigation bar for small screen*/
#mobile_nav_bar{
  position:fixed;
  top:0px;
  width:200px;
  height:100%;
  background:#151719;
  left:-200px;
  z-index: 1500;
}

#mobile_nav_bar.active{
  left:0px;
}

#mobile_nav_bar ul{
  padding-left: 0px;
}

#mobile_nav_bar ul li{
  color:rgba(230,230,230,0.9);
  list-style: none;
  padding:15px 10px;
  border-bottom: 1px solid rgba(100,100,100,0.3);
}

#mobile_nav_bar .toggle_btn{
  position:absolute;
  left:210px;
  top:50%;
}

#mobile_nav_bar .toggle_btn span{
  display:block;
  width: 30px;
  height: 5px;
  background: #151719;
  margin: 5px 0px;
}

@media (min-width:768px){
  #mobile_nav_bar{
    display: none;
  }
}
/*main styles*/
main {
	font-size: 14px;
	margin: 0;
	padding: 0;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}

main .main_page_intro{
    position: relative;
    background-color: white;
    box-shadow: 5px 5px 5px;
    border: 1px solid black;

}

/*main setting for large screens(>767px,ipad)*/
@media (min-width:768px){
  main {
    top:10%;
    left:20%;
    width: 80%;
  }

  main .main_page_intro {
    width:90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  main .main_page_intro img{
    width:60%;
    height: auto;
  }

  main .main_page_intro .intro_text{
    width:40%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 5px;
  }

  main .main_page_intro .intro_content{
    font-size: 18px;
  }
}
/*top intro image section on small screen view*/

@media (max-width:767px){
  main .main_page_intro .intro_title{
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 40%;
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial,sans-serif;
    color: #fff;
    width: 80%;}

    main .intro_content p{
      display: none;
    }
}

main .main_page_intro img{
  max-width: 100%;
  height:auto;
}



/*bread crumb navigation*/
.breadcrumb {
  padding-top:10px;
  padding-bottom:10px;
  padding-left:0px;
  list-style: none;
  background-color: #eee;
  margin-top: 0px;
  margin-left:5%;
  margin-bottom: 0px;
  text-align: left;
  transition: 0.5s;
}

.breadcrumb li {
  display: inline;
  font-size: 18px;
}

.breadcrumb li:last-child {
  color: #98161A;
  font-weight: bold;
}

.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/*card component on small screen*/
main .all_cards{
  margin: auto;
	display: block;
	width: 90%;
  left:5%;
  right:5%;
}

main .all_cards .single_card {
  flex-direction: column;
  box-shadow: 5px 5px 5px;
  background-color: white;
  margin: 1%;
  border: 1px solid black;
}

main .card_intro {
  width:100%;
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid rgba(100,100,100,0.3);
}

main .all_cards .single_card h2{
	 margin-bottom: 5px;
   color: black;
   font: bold 40px, Sans-Serif;
   letter-spacing: -1px;
   text-align: center;

}

main .all_cards a, main .all_cards a:visited {
		text-decoration: none;
    color: black;
}

input[type='checkbox'] {
  display: none;
}

.label {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-align: left;
  padding: 1rem;
  color: #130000;
  background-color: #fff;
  cursor: pointer;
  border-radius: 2px;
  transition: all.5s ease-out;
}

.label:hover {
  color: #808080;
}

.label::before {
  content: '';
  display: in-inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.collapse-content .content-inside {
  background: #fff;
  border-bottom: 1px solid #fff;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapse-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.togglecollapse:checked + .label + .collapse-content {
  max-height: 350px;
}

.togglecollapse:checked + .label::before{
  transform: rotate(90deg) translateX(-3px);
}

.togglecollapsecollapse:checked + .label {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@media (max-width:767px){
  main .card_img img{
    width: auto ;
    max-width: 100%;
    height: auto ;
    max-height: 100% ;
  }

  main .card_img {
  	width: 100%;
    height: auto;
  }

  main .card_intro{
    display: block;
    padding: 5px;
  }
}

@media (min-width:768px) {
  main .single_card {
    width: 430px;
    height: auto;
    margin-right: 0px;
    display: inline-block;
    left:10%;
}

  main .orgnotesintro {
  display: block;
  background-color: white;
  width: 90%;
  margin-left: 5%;
  padding-top: 1%;
  height: auto;
  transition: 0.5s;
  }

  main .orgnotesintro p {
    padding: 1%;
  }

  main .orgnotesintro h2 {
    text-align: center;
  }

  main .tipstools_box {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: white;
    padding: 1%;
    left:5%;
    right:5%;
    transition: 0.5s;
  }

  main .tipstools_choicebox {
    flex:1;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }

  main .tipstools_choicebox, .tools, .orgnotes, .orgdigitalnotes, .revision {
    background-color: white;
    margin:5px;
    padding: 5px;
    border: 1px solid rgba(100,100,100,0.3);
    transition: 0.5s;
  }

  main .tipstools_choicebox h2 {
    font-size: 25px;
    font-family:arial;
  }

  main .tipstools_content {
    height: auto;
    width: 100%;
  }

  main .techniquesintro {
    display: block;
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 5px;
    width: 90%;
    margin-left: 5%;
    padding-top: 1%;
    margin-bottom: 2%;
    height: auto;
    transition: 0.5s;
  }

  main .techniquesintro p {
    padding: 1%;
  }

  main .techniquesintro h2 {
    text-align: center;
  }

  main .techniques_box {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    text-align: left;
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 5px;
    padding: 1%;
    left:5%;
    right:5%;
  }


  main .techniques_choicebox {
    flex:1;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }

  main .techniques_choicebox, .issues, .techniques, .abbreviations {
    background-color: white;
    margin:5px;
    padding: 5px;
    border: 1px solid rgba(100,100,100,0.3);
    transition: 0.5s;
  }

  main .techniques_choicebox h2 {
    font-size: 25px;
    font-family:arial;
  }

  main .techniques_content {
    height: auto;
    width: 100%;
    padding-left: 1%;
  }

  main .effectiveintro {
    display: block;
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 5px;
    width: 90%;
    margin-left: 5%;
    padding-top: 1%;
    margin-bottom: 2%;
    height: auto;
    transition: 0.5s;
  }

  main .effectiveintro p {
    padding: 1%;
  }

  main .effectiveintro h2 {
    text-align: center;
  }

  main .effective_box {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    text-align: left;
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 5px;
    padding: 1%;
    left:5%;
    right:5%;
  }


  main .effective_choicebox {
    flex:1;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }

  main .effective_choicebox, .inLectures, .duringLecture, .notesfromtext, .afterLecture {
    background-color: white;
    margin:5px;
    padding: 5px;
    border: 1px solid rgba(100,100,100,0.3);
    transition: 0.5s;
  }

  main .effective_choicebox h2 {
    font-size: 25px;
    font-family:arial;
  }

  main .effective_content {
    height: auto;
    width: 100%;
    padding-left: 1%;
  }

}





/*contact and support on mobile screen*/
.contact{
  margin-top: 20px;
  background: white;
  width: 90%;
  border: 1px solid black;
  box-shadow: 5px 5px 5px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 20px;
  transition: 0.5s;
}

.contact .contact_info_list{
  font-size: 15px;
  padding: 0;
  list-style: none;
}

.contact a{
  text-decoration: none;
}

/*footer*/
footer img{
  max-width: 40%;
  height:auto;
}

.toggleNight {
  position: absolute;
  top: 45px;
  right: 65px;
  background: #fff;
  border: 2px solid #000000;
  width: 45px;
  height: 21px;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.5s;
}

.toggleNight:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 2px;
  width: 15px;
  height: 15px;
  background: #000000;
  border-radius: 50%;
  transition: 0.5s;
}

.toggleNight.active:before {
  left: 24px;
  background: #fff;
}

.toggleNight.active {
  background: #000000;
  border: 2px solid #fff;
}

.pageContent h2 {
  transition: 0.5s;
}

.pageContent p{
  transition: 0.5s;
}

.pageContent ul {
  transition: 0.5s;
}

body.night .pageContent, main.night .breadcrumb, main.night .contact {
  background: #000000;
}

body.night .pageContent h2, body.night .pageContent p, body.night .pageContent ul, main.night .contact h2, main.night .contact_info_list {
  color: #fff;
}

main.night .orgnotesintro, main.night .tipstools_box, main.night .contact {
  background: #2A2929;
}

main.night .effective_content_box{
  background: #2A2929;
}

main.night .tipstools_choicebox {
  background: #362D2D;
}

main.night .tools, main.night .orgnotes, main.night .orgdigitalnotes, main.night .revision {
  background: #1B1B1B;
}

main.night .breadcrumb li a {
  color: #fff;
  text-decoration: none;
}

main.night .breadcrumb li a:hover {
  color: #B5B0B0;
  text-decoration: underline;
}

main.night .breadcrumb li+li:before {
  padding: 8px;
  color: #fff;
  content: "/\00a0";
}

main.night .single_card, main.night .all_cards, main.night .card_intro, main.night .main_page_intro, main.night .intro_text, main.night .card_img {
  color: #fff;
  background: #1B1B1B;
}
